* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1404px;
    width: 100%;
    margin: 0 auto;
}

.container-small {
    max-width: 1172px;
    width: 100%;
    margin: 0 auto;
}

.header {
    max-width: 1900px;
    height: 1026px;
    background-color: white;
    background-image: url(./image/backgroudleft1.png), url(./image/Muncak-Landing-Page.png);
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: ;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.logo{

}
.logo-link{

}
.logo-img{

}
.nav-list{

}
.nav-item{
    display: inline-block;
    margin: 0 12px;
}
.nav-item-link{
    font-size: 1.8rem;
    line-height: 3.6rem;
    /* color: #fff; */
    padding: 0 36px;
}

.heading-banner {

}

.heading-desc {

}
