* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1404px;
    width: 100%;
    margin: 0 auto;
}

.container-small {
    max-width: 1172px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    font-size: 2rem;
    line-height: 8rem;
    color: #fbfcfc;
    background-color: #2870db;
    border-radius: 40px;
    display: inline-block;
    padding: 0 66px;
    box-shadow: 0 22px 24px rgba(17, 83, 165, 0.21);
}

.heading-name {
    font-size: 3.6rem;
    line-height: 5rem;
    text-align: center;
    margin: 0 auto;
    color: #263238;
}

.btn:hover {
    background-color: #1153a5;
}

/* ----------------------- */

.header {
    margin: 0 auto;
    max-width: 1900px;
    height: 1026px;
    background-color: white;
    background-image: url(./image/backgroudleft1.png), url(./image/Muncak-Landing-Page.png);
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
}

.logo{

}
.logo-link{

}
.logo-img{

}
.nav-list{

}
.nav-item{
    display: inline-block;
}
.nav-item-link{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.6rem;
    color: #fff;
    padding: 0 36px;
    display: inline-block;
}

.nav-highlight {
    background-color: #fff;
    color: #14215e;
    border-radius: 14px;
}

.heading-banner {
    font-size: 5rem;
    line-height: 6rem;
    color: #1c2056;
    margin-top: 144px;
    max-width: 400px;
}

.heading-desc {
    font-size: 1.8rem;
    line-height: 4rem;
    color: rgba(45, 32, 88, 0.65);
    max-width: 400px;
    margin-top: 43px;
    margin-bottom: 103px;
}

.btn-heading {
    margin-bottom: 310px;
}


/* -----------about---------------- */
.about {
    padding-top: 158px;
}

.hearding-name-about {
    max-width: 700px;
}